@import 'styles/mixins';

.dataField {
  position: relative;

  .expandBtn {
    position: absolute;
    bottom: 24px;
    right: 4px;
    color: $primary;
    border-radius: 0;
    border-left: 1px solid $primary;

    svg {
      font-size: 20px;
    }
  }

  input {
    padding-right: 54px !important;
  }

  .open {
    background: $primaryDark;
  }
}