@import 'styles/mixins';

@mixin tile {
  @include col;
  padding: 20px 10px 16px 24px;
  border-radius: 4px;
  background: $surfacePrimary;

  & > header {
    margin-bottom: 16px;
  }

  & > footer {
    @include wrap;

    & > * {
      margin: 0 6px 8px 0;
    }
  }
}

.tile {
  @include tile;
  border: 1px solid rgba($primary, 0.43);
  cursor: pointer;

  &.parent {
    padding: 14px 10px 16px 24px;
  }

  & > header {
    @include rowBetween;

    .title {
      @include dottedText;
      @include headingSmall;
      padding-right: 4px;
    }
  }
}

.loader {
  @include tile;

  & > header {
    background: rgba($primary, 0.04);
    width: 60%;
    height: 26px;
    border-radius: 4px;
  }

  & > footer > * {
    background: rgba($primary, 0.04);
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
