@import 'styles/mixins';

.root {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 40px;

  & > div {
    display: grid;
    grid-gap: 10px;
  }

  & > button {
    margin-top: 90px;
  }
}