@import 'styles/mixins';

.sidebarPanel {
  @include col;
  border-right: 1px solid rgba($primary, 0.43);
  background: $surface;
  position: absolute;
  z-index: 6;
  height: 100vh;
  width: 200px;

  .logo {
    @include row;
    margin: 30px auto 78px auto;
    cursor: pointer;

    span {
      @include heading;
      margin-left: 18px;
    }
  }

  p {
    margin-left: 5px;
    margin-right: 20px;
    color: $white;
    font-family: $fontPrimary;
  }

  .link {
    & > span:first-of-type {
      flex-flow: row;
      justify-content: flex-start;
      padding-left: 42px;

      & > span {
        @include labelSmall;
        margin: 0 0 0 12px;
      }
    }
  }
}
