@import 'styles/mixins';

.heading {
  font-weight: $medium;
  font-size: 26px;
}

.subHeading {
  font-weight: $regular;
  font-size: 14px;
}

.description {
  font-size: 12px;
  line-height: 19px;
  font-weight: $regular;
}

.label {
  font-weight: $medium;
  font-size: 16px;
}