@import 'styles/mixins';

.checkbox {
  cursor: inherit;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid $primary;
  border-radius: 20%;
  margin: 0;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.checked {
    background-color: $primary;
    box-shadow: 0 0 3px $primary;
  }
}

.checkboxBase {
  @include centered;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}

.checkboxLabel {
  @include noSelect;
  @include row;
  cursor: pointer;
  margin: 0 16px 0 -5px;

  &.default {
    & > span:last-of-type {
      @include label;
      color: $primary;
      padding-left: 2px;
    }
  }

  &.informing {
    & > span:last-of-type {
      @include labelSmall;
      color: $white;
      padding-left: 4px;
    }
  }
}
