@import 'styles/mixins';

.modal {
  @include centered;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $modalIndex;

  .content {
    position: relative;
    background: $surface;
    box-shadow: $shadow;
    border-radius: 10px;
    z-index: $modalIndex;
  }
}
