@import 'styles/mixins';

.table {
  display: grid;
  font-size: 14px;
  width: 1345px;

  .header {
    text-transform: uppercase;
  }

  > div {
    display: flex;
    align-items: center;
    padding: 20px 10px;
  }
}
