@import 'styles/mixins';

.notificationsList {
  @include col;
  position: relative;

  .marker {
    top: 0;
    left: 24.5px;
    position: absolute;
    width: 1px;
    background: rgba($primary, 0.43);
    height: 100%;
  }

  & > li:not(:last-of-type) {
    margin-bottom: 28px;
  }
}
