@import 'styles/mixins';

.main {
  @include page;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 99px 1fr;
  grid-template-areas: 'nav' 'main';

  @include mobile-up {
    grid-template-columns: 99px 1fr;
    grid-template-rows: 99px 1fr;
    grid-template-areas: 'sidebar nav' 'sidebar main';
  }

  main {
    grid-area: main;
  }
}
