@import 'styles/mixins';

.btn {
  height: 100%;
  padding: 0;
  border-right: 1px solid $primary;
  border-left: 1px solid $primary;
  border-radius: 0;

  &.active {
    color: $secondary;
  }

  & > span > svg {
    margin-right: 0;
  }

  b {
    @include linkSmall;
    position: absolute;
    top: 2px;
    right: 12px;
  }
}

.selectItem > label {
  height: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;

  & > span:last-of-type {
    padding-left: 0 !important;
  }
}
