@import 'styles/mixins';

.root {
  @include clickable;
  background: unset;
  font-family: inherit;

  &.filled {
    padding: 11px 28px;
    border: none;
    border-radius: 4px;  
    color: $primary;
    background: $secondary;
    font-weight: $medium;
    font-size: 14px;
  }
}