@import 'styles/mixins';

.btn {
  &.active {
    color: $secondary;
  }

  & > span > svg {
    margin-right: 0;
  }

  b {
    @include linkSmall;
    position: absolute;
    top: 6px;
    right: 12px;
  }
}
