@import 'styles/mixins';

.btn {
  padding: 0 !important;
  vertical-align: middle;
  &.active {
    color: $secondary;
  }

  & > span > svg {
    margin-right: 0;
  }

  b {
    @include linkSmall;
    position: absolute;
    top: 6px;
    right: 12px;
  }
}
