@import 'styles/palette';
@import 'styles/mixins';

.templateDocumentation {
  @include col;
  position: relative;
  align-items: center;
  height: 100%;
  width: 330px;
  background-color: $surfacePrimary;
  box-shadow: $shadowPrimary;

  .button {
    opacity: 0;
    position: absolute;
    border: 1px solid $primary;
    background-color: transparent !important;
    color: $primary !important;
    right: -24px;
    top: 50%;
    transition: 0.3s opacity;
  }
}

.templateDocumentation:hover {
  .button {
    opacity: 1;
  }
}

.sectionList {
  display: flex;
  flex-flow: column;
  color: $primary;
  .listElement {
    padding: 34px;
    
    span {
      display: flex;
      align-items: center;
      font-weight: bold;
      transition: 0.3s color;
      svg {
        margin-right: 10px;
      }
    }

    span:hover {
      color: $secondary;
    }
  }
}

.nestedList {
  margin-left: 35px;

  li {
    padding-top: 18px;
    font-weight: $thin;
  }
}

.active {
  color: $secondary;
}