@import 'styles/mixins';

.adminTabCategories {
  @include rowCenter;
  margin: 30px 0;

  .tabs {
    @include row;
    margin-left: auto;
  }

  .addButton {
    @include rowEnd;
    margin-left: auto;
  }

  .category {
    @include link;
    color: $primary;
    padding: 9px 20px;
    text-transform: capitalize;

    &:not(:last-of-type) {
      margin-right: 30px;
    }

    &.active {
      background: $secondary;
      color: $black;
    }
  }

  & > a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .unfoldIcon {
    transform: rotate(90deg);
  }
}
