@import 'styles/mixins';

.searchCategories {
    .category {
        @include link;
        color: $primary;
        padding: 10px 20px;
        text-transform: capitalize;

        &:not(:last-of-type) {
            margin-right: 30px;
        }

        &.active {
            background: $secondary;
            color: $black;
        }
    }
}