@import "styles/mixins";

.search {
  @include centered;
  flex-flow: column;
  height: 618px;
  padding: 60px;
  border-bottom: 1px solid rgba($primary, 0.43);

  @include max-width(600px) {
    padding: 32px;
  }

  h1,
  p {
    width: 470px;
    text-align: center;

    @include max-width(600px) {
      width: 100%;
    }

    span {
      color: $primary;
    }
  }

  h1 {
    @include headingBig;
  }

  p {
    @include descriptionBig;
    margin: 32px 0 58px 0;
  }

  .templatesSearch {
    @include max-width(920px) {
      width: 100%;
    }
  }
}
