@import 'styles/mixins';

.search {
  @include centered;
  flex-flow: column;
  height: 618px;
  border-bottom: 1px solid rgba($primary, 0.43);

  h1,
  p {
    width: 470px;
    text-align: center;

    @include tablet {
      max-width: 470px;
      width: auto;
    }
  }

  h1 {
    @include headingBig;

    span {
      color: $primary;
    }
  }

  p {
    @include descriptionBig;
    margin: 32px 0 58px 0;

    span {
      color: $primary;
    }
  }
}
