@import 'styles/mixins';

.templates {
  @include col;
  padding: 60px;

  & > form {
    margin: 62px auto 82px auto;
  }

  .templatesGrid {
    grid-template-columns: repeat(auto-fit, 320px);
  }

  .templatesSearch {
    @include max-width(1080px) {
      width: 100%;
    }
  }
}
