@import 'styles/mixins';

button {
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  padding: 9px 20px !important;
  cursor: pointer; 
  font-size: 14px;
  border-radius: 4px;

  &.primaryDark {
    background: $primaryDark;
    color: $white;

    &:hover {
      background: $primaryDark;
    }

    &:disabled {
      opacity: 0.6;
      background: $primaryDark;
      color: $white;
    }
  }

  &.primaryTransparent {
    background: transparent;
    color: $primary;

    &:disabled {
      color: rgba($primary, 0.6);
    }
  }

  &.danger {
    background: $error;
    color: $white;

    &:hover {
      background: $error;
    }

    &:disabled {
      opacity: 0.6;
      background: $error;
      color: $white;
    }
  }
}

.iconButton {
  width: 50px;
  height: 50px;
  display: inline-flex;
}

.textIcon{
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;;
  }
}