@import 'styles/mixins';

button {
  box-sizing: border-box;
  min-width: 64px;
  padding: 6px 16px;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  padding: 9px 20px !important;
  cursor: pointer;

  & {
    text-transform: capitalize;
  }

  & > span {
    @include label;

    svg {
      margin-right: 12px;
    }
  }

  &.primaryDark {
    background: $primaryDark;
    color: $white;

    &:hover {
      background: $primaryDark;
    }

    &:disabled {
      opacity: 0.6;
      background: $primaryDark;
      color: $white;
    }
  }

  &.primaryTransparent {
    background: transparent;
    color: $primary;

    &:disabled {
      color: rgba($primary, 0.6);
    }
  }

  &.danger {
    background: $error;
    color: $white;

    &:hover {
      background: $error;
    }

    &:disabled {
      opacity: 0.6;
      background: $error;
      color: $white;
    }
  }
}

.iconButton {
  width: 50px;
  height: 50px;
}