@import 'styles/mixins';

.templatesSearch {
  @include row;
  width: 840px;
  height: 60px;
  background: $surfacePrimary;
  border-radius: 4px;

  @include tablet {
    max-width: 840px;
    width: 95%;
  }

  .input {
    @include label;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 16px;
    background: transparent;
    border: none;
    color: $primary;

    @include mobile {
      font-size: 12px;
      padding: 0px 15px;
      text-overflow: ellipsis;
    }

    &::placeholder {
      color: $primary;
      font-weight: $thin;
    }
  }

  .select {
    border-left: 1px solid rgba($primary, 0.43);
    border-right: 1px solid rgba($primary, 0.43);

    label {
      display: none;
    }

    & > div:first-of-type {
      width: 400px;
      height: 60px;
      border-radius: 0;

      & > div:first-of-type {
        padding: 0 18px 0 24px;

        & > span {
          font-size: 16px;
          font-weight: $bold;
        }
      }

      & > button {
        width: 60px;
        min-width: unset;
        flex-shrink: 0;
        border-left: 1px solid rgba($primary, 0.43);
      }
    }

    & > div:last-of-type {
      display: none;
    }
  }

  .selectMenuOpen {
    border-left: 1px solid rgba($white, 0.43);
    border-right: 1px solid rgba($white, 0.43);
    color: $white;
    background: $primaryDark;

    & > div:first-of-type {
      & > div {
        border-color: $white !important;

        span {
          color: $white;
        }
      }
    }

    & > button {
      border-left: 1px solid rgba($white, 0.43) !important;
    }

    svg path {
      fill: $white;
    }
  }

  .confirmSearchBtn {
    @include text;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0;
    border-left: 1px solid rgba($primary, 0.43);
    color: $primary;

    svg {
      font-size: 28px;
    }
  }
}
