@import 'styles/mixins';

.listItem > label {
  height: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0 10px;

  & > span:last-of-type {
    padding-left: 0 !important;
  }
}

.tag {
  margin: 0 10px;

  &:hover {
    color: $white;
  }
}
