@import 'styles/mixins';

.templateDetails {
  @include col;
  @include space;
  height: 100%;

  & > header {
    @include laptop-down {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 24px;

      button {
        width: 100%;
      }
    }

    @include laptop-up {
      @include wrap;
      justify-content: flex-end;

      & > *:not(:last-child) {
        margin: 0 28px 0 0;
      }
    }
  }
}

.edit {
  @include text;
  color: $primary;
}

.delete {
  @include text;
  color: $error;
}
