@import 'styles/mixins';

.forgotPassword {
  @include centered;
  flex-flow: column;
  min-height: 100vh;

  h5 {
    @include headingBig;
    margin-bottom: 82px;
  }
}

.sent {
  @include centered;
  flex-flow: column;
  min-height: 100vh;
}