@import 'styles/mixins';

.selectControl {
  @include rowBetween;
  padding: 0 !important;

  &.menuOpen {
    background: $primaryDark;
    color: $white;

    .toggleBtn {
      color: $white;
      border-left-color: $white;
    }
  }

  & > span {
    @include noSelect;
    @include dottedText;
    padding: 0 18px;
  }

  .placeholder {
    font-weight: $thin;
  }

  .toggleBtn {
    @include centered;
    height: 100%;
    border-radius: 0;
    color: $primary;
    border-left: 1px solid $primary;
    min-width: 44px;
    padding: 0 !important;

    & > span > svg {
      margin: 0;
    }
  }
}
