@import './reset.scss';
@import './vars.scss';

body {
  font-family: $font;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}
