@import './reset.scss';
@import './mixins.scss';

body {
  font-family: $fontMain;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}
