@import './reset';
@import './mixins';

body {
  font-family: $fontPrimary;
  color: $white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: $surface;
}

#root {
  min-height: 100vh;
}
