$mobile: 425px;
$tablet: 900px;
$desktop: 1300px;

@mixin max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin between-width($min-width, $max-width) {
  @media (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}

@mixin mobile() {
  @include max-width($mobile) {
    @content;
  }
}

@mixin tablet() {
  @include max-width($tablet) {
    @content;
  }
}

@mixin desktop() {
  @include max-width($desktop) {
    @content;
  }
}
