@import './palette.scss';

// GENERAL

@mixin col {
  display: flex;
  flex-flow: column;
}

@mixin row {
  display: flex;
  align-items: center;
}

@mixin rowCenter {
  display: flex;
  justify-content: center;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rowBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// END GENERAL

// TEXT

@mixin text {
  font-family: $fontPrimary;
  text-transform: none;
}

@mixin linkSmall {
  @include text;
  font-size: 10px;
}

@mixin link {
  @include text;
  font-size: 16px;
  font-weight: bold;
}

@mixin labelExtraSmall {
  @include text;
  font-size: 10px;
}

@mixin labelSmall {
  @include text;
  font-size: 12px;
}

@mixin label {
  @include text;
  font-size: 14px;
  font-weight: $medium;
}

@mixin headingSmall {
  @include text;
  font-size: 16px;
  line-height: 26px;
  font-weight: $medium;
}

@mixin heading {
  @include text;
  font-size: 18px;
  line-height: 26px;
  font-weight: $medium;
}

@mixin headingMedium {
  @include text;
  font-size: 22px;
  line-height: 26px;
  font-weight: $medium;
}

@mixin headingBig {
  @include text;
  font-size: 26px;
  line-height: 26px;
  font-weight: $medium;
}

@mixin description {
  @include text;
  font-size: 14px;
  line-height: 24px;
  font-weight: $thin;
}

// END TEXT
