$primary: #3381e1;
$primaryDark: #003577;

$secondary: #65ffcb;

$surface: #101b48;
$surfaceDark: #193457;
$surfacePrimary: #0f183e;
$surfaceSecondary: #121c47;

$error: #ff395b;
$errorSurface: #a12137;

$ok: #65ffcb;
$okSurface: #1b7640;

$white: #fff;
$black: #000;
$grey: #c2c2c2;

$gradient: linear-gradient(to top right, #04060e, #121c47);

$shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.16);
$shadowPrimary: 0 3px 6px rgba(0, 0, 0, 0.16);

$views: rgba(255, 255, 255, 0.74);
$stars: #ffdd00;

$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$fontPrimary: 'Montserrat', 'sans-serif';

$backdropIndex: 95;
$mobileNavigationMenuIndex: 96;
$mobileNavigationTriggerElevation: 97;
$mobileNavigationTriggerIndex: 98;
$cookiesConstentIndex: 99;
$sidebarPanelIndex: 100;
$sidebarIndex: 101;
$modalIndex: 102;
$alertsIndex: 103;

$mobile: 600px;
$tablet: 900px;
$laptop: 1280px;
$desktop: 1920px;
