$primary: #3381e1;
$primaryDark: #003577;

$secondary: #65ffcb;

$surface: #101b48;
$surfaceDark: #193457;
$surfacePrimary: #0f183e;
$surfaceSecondary: #121c47;

$error: #ff395b;

$ok: #65ffcb;

$white: #fff;
$black: #000;

$gradient: linear-gradient(to top right, #04060e, #121c47);

$shadowPrimary: 0 3px 6px rgba(0, 0, 0, 0.16);

$views: rgba(255, 255, 255, 0.74);
$stars: #ffdd00;

$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$fontPrimary: 'Montserrat', 'sans-serif';
