$primary: #3381e1;
$primaryBlured: rgba($primary, 0.43);

$secondary: #65ffcb;
$secondaryDark: #121c47;

$surface: #101b48;
$surfacePrimary: #0F183E;

$error: #ff395b;

$ok: #65ffcb;

$white: #fff;
$black: #000;

$gradient: linear-gradient(to top right, #04060e, #121c47);

$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$fontPrimary: 'Montserrat', 'sans-serif';
