$primary: #3381e1;
$secondary: #65ffcb;

$primaryDark: #0F183E;
$secondaryDark: #121c47;

$app-bg: linear-gradient(to top right, #04060e, $secondaryDark);

$error: #ff395b;

$white: #fff;
$black: #000;

$thinShadow: 0 6px 24px rgba(0, 0, 0, 0.14);

$font: 'Montserrat', 'sans-serif';

$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;
