@import 'styles/mixins';

.templateCreationView {
  @include col;
  height: 100%;
  width: 400px;
  padding: 60px 0;
  margin: 0 auto;

  .stepTitle {
    @include headingBig;
  }

  .stepDescription {
    @include description;
    margin: 12px 0 34px 0;
  }

  & > form {
    @include col;
    margin-top: 52px;

    & > div:not(:last-of-type) {
      margin-bottom: 40px;
    }

    & > button {
      width: 196px;
      margin: 120px auto 0 auto;
    }
  }
}
