@import 'styles/mixins';

.select {
  @include row;
  padding: 0 !important;

  &.menuOpen {
    background: $primaryDark;
    color: $white;

    .selectedItems .selectedItem {
      color: $white;
      border-color: $white;
    }

    .toggleBtn {
      color: $white;
      border-left-color: $white;
    }
  }

  .selectedItems {
    @include label;
    @include row;
    width: 100%;
    overflow-x: hidden;
    color: inherit;
    padding: 14px;
    margin-right: 14px;

    .selectedItem {
      @include labelSmall;
      color: $primary;
      border-color: $primary;

      &:not(:last-of-type) {
        margin-right: 6px;
      }
    }

    .placeholder {
      @include noSelect;
      @include dottedText;
      font-weight: $thin;
    }
  }

  .toggleBtn {
    @include centered;
    height: 100%;
    border-radius: 0;
    color: $primary;
    border-left: 1px solid $primary;
    min-width: 44px;

    & > svg {
      margin: 0;
      font-size: 28px;
    }
  }
}
