@import 'styles/mixins';

.links {
  position: relative;

  .link {
    @include rowCenter;
    height: 80px;

    button {
      width: 100%;
      padding: 0;
      border-radius: 0;
      color: $primary;

      & > span {
        @include col;

        & > span {
          @include linkSmall;
          margin-top: 6px;
        }
      }
    }

    &.active button {
      color: $secondary;
    }
  }

  .marker {
    position: absolute;
    right: -2px;
    width: 4px;
    background: $secondary;
    border-radius: 39px;
    transition: transform 0.3s;
  }
}
