@import 'styles/mixins';

.listItem {
  @include row;
  padding: 14px 18px 14px 12px;
  margin-bottom: 16px;
  background: $surfacePrimary;
  cursor: pointer;

  .unreadedIcon {
    margin-right: 10px;
  }
}
