@import "styles/mixins";

.message {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 220px;
    padding: 10px;
    background-color: $surface;
    box-sizing: border-box;
    border: 1px solid rgba($primary, 0.43);
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "...";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 0.9em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 0.9em;
    }
}
