@import 'styles/mixins';

.spaceholder {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    width: 100%;
  }

  &.primary {
    background: rgba($primary, 0.04);
  }
}
