@import 'styles/mixins';

.navbar {
  @include row;
  grid-area: nav;
  border-bottom: 1px solid rgba($primary, 0.43);
  background: $surface;
  padding: 0 40px;

  .breadcrumbs {
    @include row;

    .breadcrumb {
      @include headingSmall;
      color: $primary;
      text-transform: capitalize !important;

      &:first-of-type {
        @include headingMedium;
      }
    }

    .divider {
      color: $primary;
      margin: 0 6px;

      &:last-of-type {
        display: none;
      }
    }
  }
}
