@import 'styles/mixins';

.templateTags {
  & > div {
    color: $primary;

    &:hover {
      color: rgba($primary, 0.82);
    }

    &:not(:last-of-type)::after {
      background: $primary;
    }
  }
}
