@import 'styles/mixins';

.templateTags {
  &.clickable & > div:hover {
    color: rgba($primary, 0.82);
  }

  & > div {
    color: $primary;

    &:not(:last-of-type)::after {
      background: $primary;
    }
  }
}
