@import 'styles/mixins';

.recommendedTemplates {
  @include centered;
  background-color: $surface;
  min-height: 650px;
  
  .templatesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 522px;
    max-width: 1600px;
    // width: 90%;

    .heading {
      @include headingMedium;
      text-align: center;
      width: 100%;
    }

    & > div {
      margin: 52px 16px;
    }
  }
}