@import "styles/mixins";

.img {
    position: relative;
    z-index: 1;

    .mask {
        position: absolute;
        z-index: 2;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
