@import 'styles/mixins';

div.fileField {
  @include centered;
  flex-flow: column;
  height: 124px !important;
  border-radius: 4px !important;
  cursor: pointer;

  & > h3 {
    @include headingSmall;
  }

  & > span {
    @include labelSmall;
    margin-top: 4px;
    color: $white;
  }
}
