@import 'styles/mixins';

.changePassword {
  @include col;

  & > h3 {
    @include headingMedium;
  }

  & > form {
    @include col;
    margin-top: 76px;
    max-width: 420px;

    & > div:not(:last-of-type) {
      margin-bottom: 28px;
    }

    & > footer {
      @include row;
      margin: 120px 0 0 auto;

      & > button {
        &:first-of-type {
          margin-right: 28px;
        }
      }
    }
  }
}
