@import 'styles/mixins';

.technologiesSelectListItem {
  cursor: pointer;

  .checkbox {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;

    & > span:last-of-type {
      padding-left: 0;
    }
  }
}
