@import 'styles/mixins';

.checked {
  color: $primary !important;
}

.label {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  font-family: $fontPrimary !important;
  color: $primary;
}
