@import 'styles/mixins';

.registerView {
  @include col;
  justify-content: center;
  margin: auto;
  padding: 80px 0;
  min-height: 100vh;
  width: 420px;

  & > form {
    @include col;
    margin-top: 52px;

    & > div:not(:last-of-type) {
      margin-bottom: 28px;
    }

    & > button {
      width: 196px;
      margin: 120px auto 0 auto;
    }
  }
}
