@import 'styles/mixins';

.breadCrumbs {
  @include row;

  @include tablet-down {
    display: none;
  }

  & > a {
    @include headingSmall;
    color: $primary;
    text-transform: capitalize !important;
    text-decoration: none;

    &:first-of-type {
      @include headingMedium;
    }
  }

  .divider {
    color: $primary;
    margin: 0 6px;

    &:last-of-type {
      display: none;
    }
  }
}
