@import 'styles/mixins';

.categories {
  @include row;

  .category {
    @include link;
    color: $primary;
    padding: 9px 20px;
    text-transform: capitalize;

    &:not(:last-of-type) {
      margin: 0 30px 0 0;
    }

    &.active {
      background: $secondary;
      color: $black;
    }
  }
}
