@import 'styles/mixins';

.templateDetails {
  @include centered;
  height: 100%;
  .container {
    @include colCenter;
    padding: 20px 0;
    width: 50%;

    section {
      width: 75%;
      height: auto;
    }
  }
}

.header {
  position: relative;
  @include row;
}

.details {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  .stars {
    @include row;
    color: $stars;
  }

  .watches {
    @include row;
    color: white;
    margin-right: 20px;
  }

  .createdBy {
    width: 100%;
    margin-top: 18px;
    @include labelExtraSmall;
  }
}

.description {
  margin-top: 40px;
  line-height: 30px;
}

.authors {
  display: inline-flex;
}

.technologies, .patterns, .authors {
  margin-top: 26px;
}

.col {
  @include col;
  margin: 20px 0;
}

@media screen and (min-width: 640px) {
  .basicList {
    list-style-type: disc;
    display: flex;
    flex-wrap: wrap;

    li:first-child {
      list-style-type: none;
      margin-left: 0;
    }

    li {
      margin-right: 20px;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 639px) {
  .basicList {
    list-style-type: disc;
    margin-left: 12px;
  }
}

.primary {
  color: $primary;
}

.white {
  color: #ffffff;
}

.actions {
  display: flex;
  width: 100%;

  button {
    margin: 10px;
    width: 130px;
  }
}

@media screen and (max-width: 693px) {
  .actions {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 694px) {
  .actions {
    justify-content: flex-end;
  }
}