@import 'styles/mixins';

.forkTemplate {
  @include colCenter;
  padding: 48px;
  min-height: 220px;
  width: 440px;

  @include mobile {
    padding: 24px;
    width: 94%;
  }

  .error {
    color: $error;
  }

  .success {
    color: $ok;
  }

  .primary {
    color: $primary;
  }

  footer {
    @include row;
    margin-top: 48px;

    .retryBtn {
      margin-left: 32px;
    }
  }
}
