@import 'styles/mixins';

.templateStats {
  @include row;

  & > div {
    @include row;

    &:not(:last-of-type) {
      margin-right: 14px;
    }

    & > span {
      @include labelSmall;
      margin-left: 8px;
    }

    &.patterns,
    &.technologies {
      color: $primary;
    }

    &.views {
      color: $views;
    }

    &.stars {
      color: $stars;
    }
  }
}
