@import 'styles/mixins';

.button,
.iconButton {
  &.primaryDark {
    background: $primaryDark;
    color: $white;

    &:hover {
      background: $primaryDark;
    }

    &:disabled {
      opacity: 0.6;
      background: $primaryDark;
      color: $white;
    }
  }

  &.primaryTransparent {
    background: transparent;
    color: $primary;

    &:disabled {
      color: rgba($primary, 0.6);
    }
  }

  &.danger {
    background: $error;
    color: $white;

    &:hover {
      background: $error;
    }

    &:disabled {
      opacity: 0.6;
      background: $error;
      color: $white;
    }
  }

  &.secondary {
    background: transparent;
    color: $primary;

    &.active {
      background: $secondary;
      color: $black;
    }
  }
}

.button {
  padding: 9px 20px !important;

  & > span {
    @include label;

    svg {
      margin-right: 12px;
    }
  }
}

.iconButton {
  width: 50px;
  height: 50px;
}
