@import 'styles/mixins';

.field {
  @include col;

  &.invalid input {
    border-color: $error;
  }

  label {
    @include rowBetween;
    color: $primary;
    margin-bottom: 12px;

    span {
      @include label;
    }

    svg {
      width: 18px;
      height: 18px;
      color: $error;
      cursor: pointer;
    }
  }

  input {
    @include label;
    width: 100%;
    height: 44px;
    padding: 0 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: $surfacePrimary;
    color: $primary;

    &::placeholder {
      color: $primary;
      font-weight: $thin;
    }
  }
}
