@import 'styles/mixins';

.selectedItems {
  @include row;
  height: 54px;
  padding: 0 10px;
  border-top: 1px solid rgba($primary, 0.43);
  box-shadow: inset -50px 0px 30px -27px rgba($black, 0.43);

  & > * {
    flex-shrink: 0;
  }
}
