@import 'styles/mixins';

.searchCategories {
  @include rowCenter;
  position: relative;

  .category {
    @include link;
    color: $primary;
    padding: 9px 20px;
    text-transform: capitalize;

    &:not(:last-of-type) {
      margin-right: 30px;
    }

    &.active {
      background: $secondary;
      color: $black;
    }
  }

  & > a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
