@import 'styles/mixins';

.profileManagement {
  @include col;

  & > h3 {
    @include headingMedium;
    margin-bottom: 80px;
  }

  & > form {
    @include col;

    & > div:not(:last-of-type) {
      margin-bottom: 28px;

      @include mobile {
        margin-bottom: 0;
      }
    }

    .fields {
      @include rowBetween;

      @include mobile {
        flex-flow: column;
      }

      & > div {
        width: 46%;

        @include mobile {
          width: 100%;
          margin-bottom: 28px;
        }
      }
    }

    & > footer {
      @include row;
      margin: 120px 0 0 auto;

      & > button {
        &:first-of-type {
          margin-right: 28px;
        }
      }
    }
  }
}
