@import 'styles/mixins';

.templateDetails {
  @include col;
  padding: 60px;
  height: 100%;

  & > header {
    @include row;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: 28px;
    }
  }

  & > section {
    align-self: center;
    padding: 62px 0;
    width: 740px;

    @include max-width(1000px) {
      width: 100%;
    }

    .tags {
      margin: 32px 0 18px 0;
    }

    .date {
      @include labelSmall;
      margin: 22px 0 18px 0;

      span {
        color: $primary;
      }
    }

    h1 {
      @include headingBig;
      word-break: break-word;
    }

    .description {
      @include descriptionMedium;
      display: block;
      margin: 32px 0 52px 0;
      word-break: break-word;
    }

    .technologies,
    .patterns,
    .contributors {
      @include col;

      h5 {
        @include heading;
        margin-bottom: 26px;
      }
    }

    .technologies > div {
      @include row;
      flex-flow: wrap;

      & > div {
        margin: 0 24px 24px 0;
      }
    }

    .patterns {
      margin: 18px 0 32px 0;
    }

    .contributors {
      & > div {
        @include row;
        flex-flow: wrap;

        a {
          margin: 0 22px 22px 0;
          cursor: pointer;

          & > div {
            width: 50px;
            height: 50px;
            box-shadow: $shadowPrimary;
          }
        }
      }
    }
  }
}

.edit {
  @include text;
  color: $primary;
}

.delete {
  @include text;
  color: $error;
}
