@import 'styles/mixins';

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid rgba($primary, 0.43);
  background: $surface;

  .sidebarContent {
    @include col;
    position: sticky;
    top: 0;

    .logo {
      margin: 30px auto 78px auto;
    }

    .tile{
      text-transform: capitalize;
    }
  }
}
