@import 'styles/mixins';

.register {
  @include col;
  @include page;
  @include space;
  justify-content: center;
  max-width: 560px;
  margin: auto;

  & > form {
    @include col;
    margin-top: 52px;

    & > div:not(:last-of-type) {
      margin-bottom: 28px;
    }

    & > button {
      width: 196px;
      margin: 120px auto 0 auto;
    }
  }
}
