@import 'styles/mixins';

.nav {
  @include rowAround;
  height: 100px;
  background-color: $surfacePrimary;
  border-bottom: 1px solid rgba($primary, 0.41);

  .main {
    @include centered;

    .logo {
      @include row;
      span {
        margin-left: 16px;
      }
    }

    .links {
      margin-left: 141px;
      font-weight: bold;
      position: relative;

      span {
        color: $primary;
        margin-left: 60px;
        transition: 0.3s color;
        display: inline-block;
        width: 90px;
      }

      span:hover {
        color: $secondary;
      }

      .active {
        color: $secondary;
        cursor: default;
      }

      .marker {
        position: absolute;
        border-radius: 39px;
        height: 4px;
        width: 36px;
        background-color: $secondary;
        top: 56px;
        transition: 0.3s transform;
      }
    }
  }

  .actions {
    font-weight: bold;
    
    span {
      color: $primary;
      padding-left: 60px;
      transition: 0.3s color;
    }

    span:hover {
      color: $secondary;
    }
  }
}