@import 'styles/mixins';

.templatesCategories {
  @include rowCenter;

  @media (max-width: 868px) {
    flex-flow: column;
  }

  .category {
    @include link;
    color: $primary;
    padding: 9px 20px;
    text-transform: capitalize;

    &:not(:last-of-type) {
      margin: 0 30px 0 0;
    }

    @media (max-width: 868px) {
      &:not(:last-of-type) { 
        margin: 0 0 30px 0;
      }
    }

    &.active {
      background: $secondary;
      color: $black;
    }
  }
}
