@import 'styles/mixins';

.userDetails {
  @include label;
  color: $white;

  header {
    @include row;
    position: relative;
    padding: 24px;
    border-bottom: 1px solid $primary;
    overflow-wrap: anywhere;

    .avatar {
      @include heading;
      margin-right: 18px;
      box-shadow: $shadowPrimary;
      border-radius: 50%;
      border: 1px solid rgba($primary, 0.43);
      background: $surface;

      img {
        border-radius: 50%;
      }
    }

    .personality {
      @include col;

      & > span {
        &:last-of-type {
          @include labelSmall;
          font-weight: $thin;
        }
      }
    }

    .generalLink,
    .profileLink {
      position: absolute;
      top: 6px;

      &,
      & > button {
        width: 40px;
        height: 40px;
      }
    }

    .generalLink {
      right: 6px;
    }

    .profileLink {
      right: 42px;
    }
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px;
    row-gap: 24px;

    .detail {
      @include col;

      &:last-of-type {
        grid-column: 1 / span 2;
      }

      & > span {
        &:first-of-type {
          @include labelSmall;
          color: $grey;
        }
      }

      .technologies {
        @include wrap;

        & > figure {
          margin: 10px 10px 0 0;
        }
      }
    }
  }

  .github {
    padding: 24px;
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;

    .success {
      color: $ok;
    }

    .error {
      color: $error;
    }

    .primary {
      color: $primary;
    }

    & > button {
      margin-top: 18px;
    }
  }

  .logout {
    @include centered;
    margin: 24px auto 8px auto;
  }
}
