@import 'styles/mixins';

.templateTile {
  padding: 28px 25px;
  background: $surfacePrimary;
  width: 320px;

  .toolbar {
    @include row;

    .views,
    .stars {
      @include row;
      @include labelSmall;

      span {
        margin-left: 8px;
      }
    }

    .views {
      margin-right: 16px;
      color: $views;
    }

    .stars {
      color: $stars;
    }
  }

  .technologies {
    @include rowCenter;
    margin: 52px 0 18px;

    figure {
      width: 72px;
      height: 72px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .templateName {
    @include heading;
    margin: 18px 0 14px;
    text-align: center;
  }

  .templateDescription {
    @include description;
    display: block;
    text-align: center;
  }

  .authors {
    @include rowCenter;
    margin-top: 20px;

    .author {
      @include row;

      .authorAvatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      .authorName {
        @include labelExtraSmall;
        margin-left: 8px;
      }
    }
  }
}
