@import 'styles/mixins';

.treeItem {
  @include row;
  @include headingSmall;
  padding-right: 12px;
  color: $primary;
  cursor: pointer;

  &:hover {
    color: $secondary;
  }

  &.active {
    color: $secondary;
  }

  &.expanded > svg {
    transform: rotate(90deg) translateY(6px);
  }

  .dot {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba($primary, 0.43);
    border: 2px solid $surfacePrimary;
  }

  & > svg {
    margin-right: 4px;
    transform: translateX(-6px);
  }

  .label {
    @include dottedText;
    @include noSelect;
  }
}
