@import 'styles/mixins';

.description {
  width: 347px;
  word-wrap: none;
}

.id {
  width: 5px;
  margin-left: auto;
  margin-right: 20px;
}

.name {
  width: 226px;
}

.addedBy {
  @include row;
  width: 87px;

  .avatar {
    width: 24px;
    height: 24px;
  }

  p {
    font-size: 10px;
  }
}

.edit {
  @include text;
  color: $primary;
}

.delete {
  @include text;
  color: $error;
}

.moreBtn {
  height: 40px;
  width: 40px;
}
