@import 'styles/mixins';

.notificationsMenu {
  padding: 24px;
  position: relative;
  outline: none;

  .loader {
    margin-top: 24px;
  }

  & > h3 {
    @include heading;
    color: $white;
    margin-bottom: 42px;
  }

  .closeBtn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 40px;
    height: 40px;
  }
}

.unreadedIcon {
  position: absolute;
  right: 10px;
  top: 10px;
}
