@import 'styles/mixins';

.loginView {
    @include centered;
    flex-flow: column;
    min-height: 100vh;
    
    h5 {
        @include headingBig;
        margin-bottom: 82px;
    }

    .divider {
        @include row;
        margin: 42px 0 28px 0;

        span {
            @include labelSmall;
            display: block;
            margin: 0 12px;
        }

        div {
           width: 18px;
           height: 2px;
           background: $white;; 
        }
    }
}