@import 'styles/mixins';

.userSection {
  @include row;

  .details {
    @include row;
    cursor: pointer;

    & > span {
      @include label;
      margin-left: 16px;

      @include max-width(1000px) {
        display: none;
      }
    }

    .avatar {
      box-shadow: $shadowPrimary;
    }

    & > svg {
      fill: $primary;
    }
  }

  .logoutBtn {
    @include label;
    font-weight: $thin;
    color: $primary;
    cursor: pointer;
  }

  .divider {
    height: 30px;
    width: 1px;
    margin: 0 20px 0 32px;
    background: rgba($primary, 0.43);

    @include max-width(1000px) {
      opacity: 0;
      margin: 0 20px 0 0;
    }
  }

  .logInBtn {
    margin-right: 28px;
  }
}
