@import 'styles/mixins';

.personalInfo {
  @include col;

  .fieldGroup {
    @include rowBetween;

    & > div {
      width: 46%;
    }
  }

  & > footer {
    display: grid;
    grid-template-columns: auto auto 180px;
    grid-gap: 28px;
    margin: 120px 0 0 0;
  }
}
