@import 'styles/mixins';

.templatesContent {
  @include col;

  .navigation {
    @include row;
    margin-bottom: 18px;

    .navItem {
      @include label;
      color: $grey;
      cursor: pointer;

      &:first-of-type {
        margin-right: 18px;
      }

      &:hover {
        color: $ok;
      }

      &.navItemActive {
        color: $ok;
      }
    }
  }

  & > a {
    width: 100%;
    margin-bottom: 42px;

    & > button {
      width: 100%;
    }
  }

  .disclaimer {
    align-items: flex-start;

    & > * {
      text-align: left;
    }
  }
}
