@mixin dottedText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin dottedMultilineText {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
