@import 'styles/mixins';

.sidebar {
  display: none;

  @include mobile-up {
    display: block;
    grid-area: sidebar;
    border-right: 1px solid rgba($primary, 0.43);
    background: $surface;
    z-index: $sidebarIndex;

    &.open {
      background: $surfacePrimary;

      .toggleBtn {
        background: $secondary;
        color: $black;
        transform: translateX(50px);

        & > span {
          transform: rotate(180deg);
        }
      }
    }

    .content {
      @include col;
      position: sticky;
      top: 0;

      .logo {
        margin: 30px auto 78px auto;
      }

      .toggleBtn {
        width: 32px;
        height: 32px;
        align-self: center;
        margin-top: 42px;
        transition: 0.2s transform;
      }
    }
  }
}
