@import 'styles/mixins';

.sidebar {
  display: none;

  @include mobile-up {
    display: block;
    grid-area: sidebar;
    border-right: 1px solid rgba($primary, 0.43);
    background: $surface;
    z-index: $sidebarIndex;

    &.open {
      background: $surfacePrimary;
    }
  }

  .content {
    @include col;
    position: sticky;
    top: 0;

    .logo {
      margin: 30px auto 78px auto;
    }
  }
}
