@import 'styles/mixins';

.technologyChip {
  @include row;
  cursor: pointer;

  figure {
    height: 32px;

    img {
      max-height: 100%;
    }
  }

  span {
    @include label;
    @include noSelect;
    flex-shrink: 0;
    margin-left: 4px;
    color: $white;
  }
}
