@import 'styles/mixins';

.templateTile {
  @include col;
  width: 320px;
  height: 352px;
  padding: 38px;
  border-radius: 4px;
  background: $surfacePrimary;
  cursor: pointer;

  .name,
  .description {
    @include dottedMultilineText;
  }

  .name {
    @include heading;
    margin: 16px 0 12px 0;
    -webkit-line-clamp: 2;
  }

  .description {
    @include description;
    -webkit-line-clamp: 3;
  }

  .patterns {
    margin: 24px 0 20px 0;
  }

  .patterns,
  .technologies {
    @include row;
  }

  .technologies {
    & > figure {
      margin-right: 4px;
    }
  }
}
