@import 'styles/mixins';

.confirmDelete {
  @include colCenter;
  position: relative;
  padding: 90px 48px 28px 48px;
  width: 424px;

  & > figure {
    @include centered;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid $error;
    background: $surfacePrimary;
  }

  & > header {
    & > h5 {
      @include heading;
      text-align: center;
    }

    & > span {
      @include label;
      display: block;
      margin-top: 12px;
      text-align: center;
      font-weight: $regular;

      b {
        color: $primary;
      }
    }
  }

  & > section {
    width: 100%;
    margin: 32px 0 68px 0;
  }

  & > footer {
    align-self: flex-end;

    & > button {
      &:first-of-type {
        margin: 0 28px 0 auto;
      }
    }
  }
}
