@import 'styles/mixins';

.templateSearch {
  @include row;
  width: 840px;
  height: 60px;
  background: $surfacePrimary;
  border-radius: 4px;

  .input {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    background: transparent;
    border: none;
    color: $primary;
    font-size: 18px;

    &::placeholder {
      color: $primary;
      font-weight: $thin;
      font-size: 16px;
    }
  }

  .technologiesBtn,
  .confirmSearchBtn {
    @include text;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0;
    color: $primary;
  }

  .technologiesBtn {
    @include rowBetween;
    padding: 0 18px 0 24px;
    width: 300px;
    font-size: 16px;
    font-weight: $bold;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;

    svg {
      transform: rotate(-90deg);
      font-size: 32px;
    }

    &.technologiesBtnActive {
      background: $primaryDark;
      border-left-color: $primaryDark;
      border-right-color: $primaryDark;
      color: $white;
    }
  }

  .confirmSearchBtn svg {
    font-size: 28px;
  }
}

.technologiesMenu {
  width: 300px;
  border-radius: 0;
  box-shadow: $shadowPrimary;
  background: $surfacePrimary;
  color: $primary;
  margin-top: 1px;

  ul {
    @include col;
    padding: 6px 0;

    label {
      @include noSelect;
      margin: 0;
      padding: 0 6px;

      &:focus {
        outline: none;
      }

      & > span:first-of-type {
        padding: 12px;
      }

      & > span:last-of-type {
        @include text;
      }

      .technologyCheckbox {
        color: $primary !important;
      }

      .technologyCheckboxChecked {
        color: $primary !important;
      }
    }
  }
}
